* {
  text-align: center;
  background-color: #adadad;
}

#img-div {
  height: 480px;
}

#draft-btn {
  font-size: 18px;
  padding: 10px 30px;
  background-color: green;
  border: 0;
  cursor: pointer;
  color: white;
}
