* {
  margin: 3px;
}

body {
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-div {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.39);
  padding: 10px;
}

button {
  margin-top: 5px;
}