/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (min-width: 768px) {
  body {
    background-color: red;
    font-size: 20px;
    margin: 50px;
  }
  section {
    display: flex;
    flex-wrap: wrap;
  }
  figure {
    margin: 0 5px 10px;
    width: 30%;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-color: green;
    font-size: 25px;
    margin: 30px;
    max-width: 90%;
  }
}

img {
	max-width: 100%;
}

figcaption {
  font-size: .8em;
}
